/*whole page*/
body{
    background-color: #04bade;
}

section{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*cosmic comics title and logo*/
header{
    padding: 0px;
}

.titleFont{
    font-family: 'Bebas Neue', sans-serif;
    color: #000435
}

.name{
    display: flex;
    margin: 1em;
}

/*other pages*/
.categories{
    display: flex;
    align-items: left;
    justify-content: left;
}

.categoryFont{
    font-family: monospace;
    color: #000435
}

.divcategory{
    margin: 0 auto;
}

.otherpages{
    white-space: nowrap;
    font-family: monospace;
    color: #000435;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

.otherpages:hover{
    color: white;
    cursor: pointer;
}

/*paragraphs*/
.paragraphs{
    font-family: monospace;
    color: #000435;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
}
.pcategory{
    width: 50%;
    column-rule: 3px solid white;
}

.flexp {
    flex: 1;
    padding: 15px;
    position: relative;
}

.flexp:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: white
}

/*if page shrinks*/
/*normal*/
@media only screen and (min-width: 1400px) {
    * {
        .name{
            align-items: center;
            justify-content: center;
        }
        .titleFont{
            font-size: 5em;
        }
        .logo{
            max-width: 5em;
            max-height: auto;
            padding-bottom: 10px;
            padding-left: 10px;
        }
        .divcategory{
            width: 10%;
        }

        .comicCategory{
            flex: 0 0 calc(12.5%  - 20px);
            box-sizing: border-box;
            margin: 10px;
        }

        .description{
            font-size: 17px;
        }

        .subPrice{
            font-size: 18px;
            padding-left: 45px;
            padding-top: 10px;
        }

        .otherpages{
            font-size: 24px;
        }

        .comicInfo{
            width: 15%;
        }

        p{
            font-size: 21px;
        }

        .big{
            display: block;
        }

        .small{
            display: none;
        }

        .price{
            padding-top: 20px;
            padding-left: 20px;
            font-size: 28px;
            float: left;
        }
    }
}

/*medium*/
@media only screen and (max-width: 1399px ) and (min-width: 1050px) {
    * {
        .name{
            align-items: center;
            justify-content: center;
        }
        .titleFont{
            font-size: 3em;
        }
        .logo{
            max-width: 4em;
            max-height: auto;
        }
        .divcategory{
            width: 4%;
        }
        
        .comicCategory{
            flex: 0 0 calc(12.5%  - 20px);
            box-sizing: border-box;
            margin: 10px;
        }
        .otherpages{
            font-size: 19px;
        }

        .comicInfo{
            width: 19%;
        }

        .subPrice{
            font-size: 18px;
            padding-left: 45px;
            padding-top: 10px;
        }

        .description{
            font-size: 17px;
        }

        p{
            font-size: 16px;
        }

        .big{
            display: block;
        }

        .small{
            display: none;
        }

        .recommended{
            display: none;
        }

        .price{
            padding-top: 20px;
            padding-left: 20px;
            font-size: 28px;
            float: left;
        }
        
    }
}

/*small*/
@media only screen and (max-width: 1049px) {
    * {
        .name{
            align-items: center;
            justify-content: left;
        }

        .titleFont{
            font-size: 3em;
        }
        
        .logo{
            max-width: 4em;
            max-height: auto;
        }

        p{
            font-size: 13px;
        }

        .big{
            display: none;
        }

        .medium{
            display: none;
        }

        .small{
            display: block;
        }

        .icon{
            padding-left: 20px;
            display: inline-block;
            align-items: right;
            justify-content: right;
        }

        .icon:hover{
            cursor: pointer;
        }
        
        .subPrice{
            font-size: 16px;
            padding-left: 35px;
            padding-top: 10px;
        }

        .recommended{
            display: none;
        }

        .price{
            padding: 10px;
            padding-top: 20px;
            font-size: 20px;
            display: flex;
            justify-content: center;
        }

        .description{
            margin-left: 200px;
            padding: 5px;
            outline: 2px solid #000435;
            background-color: white;
            font-size: 15px;
        }

    }
}

/*scrolling horizontal*/
.wrapper{
    max-height: 120px;
    border: 1px solid white;
    display: flex;
    overflow-x: initial;
    overflow-y: hidden;
}

.wrapper .item{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: white;
    margin-right: 2px;
}

/*circle container for icons*/
.circleContainer{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 1px solid #000435;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circleContainer img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow{
    -mox-box-shadow: 0 0 11px black;
    -webkit-box-shadow: 0 0 11px black;
    box-shadow: 0 0 11px black;
}



/*code for the comics page*/
.comicCategory{
    margin: 0 auto;
    flex: 0 0 calc(12.5%  - 20px);
    box-sizing: border-box;
    margin: 10px;
    padding-top: 25px;
}

.subPrice{
    position: absolute;
}

.comics{
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.comic{
    outline: 2px solid #000435;
    display: block;
}

.subTitle{
    font-size: 20px;
    text-align: center;
}

.bigComic{
    width: 400px;
    height: auto;
    float: left;
    outline: 2px solid #000435;
}

.smallBigComic{
    display: flex;
    float: left;
    outline: 2px solid #000435;
}

.bigPicPadding{
    padding-left: 20px;
    padding-top: 10px;
}

.smallBigPicPadding{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

.boxed{
    max-width: 500px;
    height: 300px;
    outline: 2px solid #000435;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.textBoxPadding{
    padding-left: 67px;
    padding-bottom: 40px;
}

.parallel{
    display: flex;
}

.recommended{
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-left: 10%;
    width: auto;
    height: 200px;
    background-color: white;
    border: 2px solid #000435;
}

.comicInfo{
    font-size: 16px;
    background-color: white;
    border: 2px solid #000435;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
}